{% extends 'base.html' %}
{% block content %}
    {% load static %}

<div class="hero-wrap hero-bread bg-darker" style="background-image: url({% static 'images/bg_1.jpg' %})">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About us</span></p> -->
            <h1 class="mb-0 bread">Biz Haqimizda</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light mt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/down-2.jpg' %});">
            <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
              <span class="icon-play"></span>
            </a>
          </div>
          <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
            <div class="heading-section-bold mb-4 mt-md-5">
              <div class="ml-md-0">
                <h2 class="mb-4">Biz Haqimizda</h2>
              </div>
            </div>
            <div class="pb-md-5">
              <p><h6 style="font-weight: 600; display: inline-block; color: #0ea130;">YechimUz</h6> – bu oziq-ovqat isrofini kamaytirish, barqaror iste’mol madaniyatini rivojlantirish va jamiyatdagi har bir inson uchun foydali ekotizim yaratishga qaratilgan innovatsion platformadir.</p><br>
              <h5 style="font-weight: 600;">Bizning Missiyamiz</h5>
              <p>
Dunyo bo‘ylab millionlab tonna oziq-ovqat behuda yo‘q qilinmoqda. Biroq, shu bilan birga, ko‘plab insonlar hali ham sifatli va sog‘lom ovqatga ehtiyoj sezishadi. Bizning maqsadimiz – texnologiyalar yordamida ortiqcha oziq-ovqat mahsulotlarini foydali tarzda taqsimlash va isrofning oldini olish.</p>
              <!-- <p><a href="#" class="btn btn-primary">BUTTON</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Bizning xabarnomamizga obuna bo'ling</h2>
        <span>Bizning eng so'nggi yangiliklarimiz va maxsus takliflarimiz haqida elektron pochta xabarlarini oling</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="Emailingizni kirting:  ">
            <input type="submit" value="Obuna Bo'lish" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
    
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);">
      <div class="container">
        <div class="row justify-content-center py-5">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="10000">0</strong>
                    <span>Happy Customers</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="100">0</strong>
                    <span>Branches</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="1000">0</strong>
                    <span>Partner</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="100">0</strong>
                    <span>Awards</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>  
<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <span class="subheading">Jamiyat</span>
        <h2 class="mb-4">Iliq fikrlar</h2>
        <!-- <p>Kichik Harakatlar, Katta O'zgarishlar!</p> -->
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    

{% endblock %}
    