<footer class="ftco-footer ftco-section">
      <div class="container">
      	<div class="row">
      		<!-- <div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div> -->
      	</div>
        <div class="row mb-5">
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">YechimUz</h2>
              <p>Kichik Harakatlar, Katta O'zgarishlar.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="https://t.me/YechimUz_blog"><span class="icon-telegram"></span></a></li>
                <li class="ftco-animate"><a href="https://t.me/YechimUz_blog"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://t.me/YechimUz_blog"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-5">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              

<!-- e -->
                    <h2 class="ftco-heading-2">Foydali Havolalar</h2>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="https://www.gov.uz/uz">GOV.UZ - EDU.UZ - O`zbekiston Respublikasi Hukumat portali</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="http://edu.uz/">EDU.UZ - O`zbekiston Respublikasi Oliy ta'lim vazirligi</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="http://ziyonet.uz/">
        ZIYONET.UZ - Ta'lim portali</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="https://www.mehnat.uz/">MEHNAT.UZ - O`zbekiston Respublikasi Bandlik va mehnat munosabatlarivazirligi</a></li>
                    </ul>
<!-- ee -->
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Savollar bormi?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Namangan Viloyati, Pop Tumani</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+998 94 9988 538</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">fayozbek.online@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> <a href="#" target="_blank">YechimUz</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>
    