{% extends 'base.html' %}
{% block content %}
	  {% load static %}

<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/bg_10_.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <!-- <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1> -->
            <h3 class="heading mb-4 text-white">O‘zbekistonda ham mahsulotlarning isrof bo‘lishi darajasi ancha yuqori. Mamlakatda har yili 3 million tonna iste’mol mahsulotlari chiqindiga aylanishi kuzatiladi. Faqatgina Toshkent shahrida har kuni 2 tonnaga yaqin non mahsulotlari isrof qilinadi. Bu esa shahar bo‘yicha yiliga 730 tonna non mahsulotlarining chiqindiga aylanishini anglatadi.</h3>
            <p><a href="https://islom.uz/maqola/20219" class="btn zindexed btn-primary">Batafsil</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'images/bg_20.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <!-- <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1> -->
            <h3 class="heading mb-4 text-white">Supermarketlarda yaroqlilik muddati tugagan mahsulotlar ko'pincha isrof bo'ladi, hatto chegirmalar ham yordam bermaydi. Ba'zi do'konlar bu mahsulotlarni sotishdan ko'ra yo'q qilishni afzal ko'radi, chunki soliq to'lamaslik uchun. Biroq, ayrim supermarketlar yaroqlilik muddati tugagan mahsulotlarni muhtojlarga tarqatish yoki ijtimoiy tashkilotlarga berish orqali ijtimoiy mas'uliyatni amalga oshiradi. Bu mahsulotlarni samarali qayta ishlash judaham muhimdir.</h3>
            <!-- <p><a href="#" class="btn zindexed btn-primary">Batafsil</a></p> -->
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'images/image_5.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <!-- <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1> -->
            <h3 class="heading mb-4 text-white">BMT ma'lumotlariga ko'ra, 2019 yilda dunyo bo'ylab ishlab chiqarilgan jami oziq-ovqat mahsulotlarining 31 foizi chiqindiga aylanib ketgan. Holbuki, yo'qotilayotgan ushbu oziq-ovqat mahsulotlarining 25 foizi muhtojlarga berilsa, butun dunyodagi ochlik muammosini to'liq hal qilish mumkin bo'lardi!</h3>
            <p><a href="https://islom.uz/maqola/20219" class="btn zindexed btn-primary">Batafsil</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <!-- <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1> -->
            <h3 class="heading mb-4 text-white">2019-yilgi statistikaga ko’ra, O’zbekistonda 2019-yilda 1,6 million tonna oziq-ovqat isrof qilingan, bu o’z navbatida, mamlakat iqtisodiyoti va ekologiyasiga salbiy ta’sir ko’rsatdi. Bundan tashqari, ortiqcha oziq-ovqatning isrof bo’lishi atrof-muhitni ifloslantirishga olib keladi, chunki organik chiqindilar poligonlarga tashlanadi va yomg’irlar bilan birga havoga zararli gazlar tarqaladi.</h3>
            <!-- <p><a href="" class="btn zindexed btn-primary">Batafsil</a></p> -->
          </div>

        </div>
      </div>
    </div>

  </div>
</section>

<!-- CUSTOM -->
<section class="ftco-section ftco-category ftco-no-pt mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex">
                            <div class="text text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%;">
                                <h2>YechimUz </h2>
                                <p>Oziq-Ovqat Isrofiga Qarshi Loyiha</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/category-1-0.jpg' %});">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">YechimUz</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<section class="ftco-section pb-5 mb-5">
    <div class="container">
        <div class="text-center mb-5 pb-5 fw-bold">
            <h2 style="font-size: sans-serif !important; font-weight: bold !important;"><span style="color: #0ea130; font-family: 'Lora', Georgia, serif; font-style: italic;">YechimUz</span>dan ko'zlanayotgan asosiy foydalar</h2>
        </div>

        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2"> <span class="flaticon-diet"></span> </div>
                    <div class="media-body">
                        <h3 class="heading">Atrof-muhitni himoya qiladi</h3> 
                        <span>Oziq-ovqat isrofi va uning salbiy ta'sirini kamaytiradi.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2"> <span class="flaticon-salad"></span> </div>
                    <div class="media-body">
                        <h3 class="heading">Oziq-ovqat isrofigini kamaytiradi</h3> 
                        <span>Ortib ketgan oziq-ovqatni isrof qilishning oldini oladi.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2"> <span class="flaticon-award"></span> </div>
                    <div class="media-body">
                        <h3 class="heading">Xayriya va yordam</h3> 
                        <span>Tashkilotlarga va muhtojlarga oziq-ovqatni taqdim etish jarayonini soddalashtiradi.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2"> <span class="flaticon-customer-service"></span> </div>
                    <div class="media-body">
                        <h3 class="heading">Iqtisodiy foyda keltiradi</h3> 
                        <span>Bizneslar ortiqcha mahsulotni sotish yoki xayriya qilish orqali foyda olishlari mumkin.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-last align-items-stretch d-flex mt-5">
                <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex mt-5">
                    <div class="text text-center mt-5">
                        <h2>Loyiha</h2>
                        <p>haqida</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/image_5.jpg' %});">
                            <div class="text px-3 py-1" style="height: 270px;">
                                <h2 class="mb-1 p-3"><a class="aboutprojecttext" href="#"><h4 class="aboutprojecttexth" style="font-weight: bold !important; color: white;">* Maqsadimiz</h4>
                                    Biz oziq-ovqat isrofigini kamaytirish va ongli iste’molni targ’ib qilish orqali dunyoni yanada barqaror qilishni maqsad qilganmiz.</a></h2>
                            </div>
                        </div>
                        <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'images/down-4.jpg' %});">
                            <div class="text px-3 py-1" style="background: #eba920;height: 270px;">
                                <h2 class="mb-1 p-3"><a class="aboutprojecttext" href="#">
                                    <h4 class="aboutprojecttexth" style="font-weight: bold !important; color: white;">* Platformaning roli</h4>
                                    Bizning platforma foydalanuvchilar, bizneslar va xayriya tashkilotlarini oziq-ovqatni samarali tarzda tarqatish uchun birlashtiradi.
                                </a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-3">
                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/down-2.jpg' %});">
                    <div class="text px-3 py-1" style="background: #0074ef !important;height: 270px;">
                        <h2 class="mb-1 p-3">
                            <a href="#" class="aboutprojecttext" >
                                <h4 class="aboutprojecttexth" style="font-weight: bold !important; color: white;">* Foydalanuvchilar uchun imkoniyatlar</h4>Ortiqcha oziq-ovqatni xayr qilish yoki sotish imkoniyati.<br><br>
                                Mahsulotlarning amal qilish muddatini kuzatish.
                            </a>
                        </h2>
                    </div>		
                </div>
                <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'images/bg_10.jpg' %});">
                    <div class="text px-3 py-1" style="height: 270px;">
                        <h2 class="mb-1 p-3"><a href="#" class="aboutprojecttext">
                            <h4 class="aboutprojecttexth" style="font-weight: bold !important; color: white;">* Bizneslar uchun yechimlar</h4>
                            Ortiqcha yoki muddati yaqin oziq-ovqatlarni chegirmali narxda sotish. <br><br>Oziq-ovqat isrofini kamaytirish orqali foyda olish.
                        </a></h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-3">
                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/down-3.jpg' %});">
                    <div class="text px-3 py-1" style="background:#0089a1;height: 270px;">
                        <h2 class="mb-1 p-3"><a href="#" class="aboutprojecttext">
                            <h4 class="aboutprojecttexth" style="font-weight: bold !important; color: white;">* Xayriya tashkilotlari bilan hamkorlik</h4>
                            Ehtiyojmandlarga oziq-ovqat yetkazib berish tizimini yaratish.<br><br>
                            Jamiyatdagi muhtoj qatlamlarni qo’llab-quvvatlash.
                        </a></h2>
                    </div>		
                </div>
                <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'images/image_1.jpg' %});">
                    <div class="text px-3 py-1" style="background:#ff3ec9;height: 270px;">
                        <h2 class="mb-1 p-3"><a href="#" class="aboutprojecttext">
                            <h4 class="aboutprojecttexth" style="font-weight: bold !important; color: white;">* Qo’shimcha xizmatlar</h4>
                            Oziq-ovqatni samarali ishlatishga yordam beradigan ta’lim materiallari va retseptlar taqdim etish.
                        </a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-darker img px-5" style="background-image: url({% static 'images/bg_3.jpg' %});">
  <div class="container px-5">
    <div class="row justify-content-end px-5">
      <div class="col-12 heading-section ftco-animate deal-of-the-day ftco-animate p-0">
        <span class="subheading" style="color: #00ff3b; font-weight: bold;">YechimUz</span>
        <h2 class="mb-4" style="color: #fff;">Statistika</h2>
        <div id="timer" class="d-flex mt-5">
          <div class="time" style="color: #00ff3b;" id="ddays">25<span>Foydalanuvchilar</span></div>
          <div class="time pl-3" style="color: #00ff3b;" id="hours"></div>
          <div class="time pl-3" style="color: #00ff3b;" id="minutes">4<span>Xayriya tashkilotlari</span></div>
          <div class="time pl-3" style="color: #00ff3b;" id="seconds"></div>
        </div>
      </div>
    </div>         
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <span class="subheading">Jamiyat</span>
        <h2 class="mb-4">Iliq fikrlar</h2>
        <!-- <p>Kichik Harakatlar, Katta O'zgarishlar!</p> -->
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Odamlar uchun foydali bo‘lish – eng buyuk yutuq. Shu bois bizning loyihamiz oziq-ovqat isrofini kamaytirish va uni ehtiyojmandlarga yetkazishga xizmat qiladi.</p>
                <p class="name">Erkinjonov Fayozbek</p>
                <span class="position">YechimUz Asoschisi</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-1.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-2.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-3.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-4.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-5.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
    </div>
  </div>
</section>
 -->
<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Bizning xabarnomamizga obuna bo'ling</h2>
        <span>Bizning eng so'nggi yangiliklarimiz va maxsus takliflarimiz haqida elektron pochta xabarlarini oling</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="Emailingizni kirting:  ">
            <input type="submit" value="Obuna Bo'lish" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
    
{% endblock %}
  
